<!DOCTYPE html>

<html>
<head>
  <style>
  .header{
    margin-left: -100px;
    position: relative;
    top: 30px;
  }

  .get_left{
      margin-left:-300px;
  }

  .text{
      margin-left: 50px;
      position: relative;
      top: 30px;
      left: -100px;
  }

  .btn{
      position: relative;
      top: 30px;
      left: -100px;
      color: blue;
      width: 150px;
  }

  .members{
      position: relative;
      left: -230px;
      top: 13px;
  }

  .friend{
      position: relative;
      left: -400px;
      top: 40px;
  }
  </style>
</head>

<body> 
                <div class="body-div">
                        <div class="space">
                            </div>
                    <h1>Groups</h1>
                    <div class="search-group">
                    <%= form_with scope: :group, url: groups_path, local: true do |form| %>

                        <%= form.label :group_name %><br>
                        <input type="text" name="group_name">    
                        
                        <%= form.submit %>
<% end %>
    
                    </div>
                                    </div>    
                
                <div class="container-div"> 
                    <div class="inner-div">
                        <fieldset class="inner-div">
                            <legend class="legend-styl">My groups</legend>
                            <div class="space">
                            </div>

                            <% @groups.each do |group| %>
                            <div>
                            <a href="" class="gname"><%=group.group_name%></a>
                            <%= link_to "add" , group_path(group.id)%>

                            <%= link_to "remove" ,group_path(group.id),method: "delete" %>
                            </div>
                            <%end%>
                        </fieldset>
                        

                    </div>
                    <div class="inner-div">
                        <fieldset class="inner-div">
            
        
            <legend><%= @group_name %></legend>
          

                            
                            <div class="space">
                            </div>
                            
                            <%= form_tag("/groups/#{  @group_id}/addFriend", method: "post") do %>

                            <div class="get_left">
                                <h class="header">Enter email of friend to be added:</h>
                                <input type="text" name="group_member" class="text">    
                                <%= submit_tag("Add", class: "btn btn-success text-light btn-sm") %>                                <div class="space">
                                    </div>
                                    <%end%>

                            </div>

                                <div>
                                <%= form_with scope: :group, url: groups_path, local: true do |form| %>
                                    <%if(!@group_member_names)%>
                                    <a href="" class="members">no members</a>
                                    <%else %>
                                    <% @groupsMembers.each do |group_member_name| %>
                                     
                                    <div class="friend">
                                        <p><%=group_member_name.user.name%></p>
                                        <%= link_to "remove" ,delete_member_url(group_member_name.group_id,group_member_name.user_id),method: "delete" %>
                                    </div>


                                    

                                    

                                    <%end%>
                                    <%end%>
                                    <%end%>
                                </div>

                        </fieldset>
                    </div>
                </div>
</body>
                <script>
                function addbutton(groupname,i)
                {

                    document.getElementById('groupname').textContent=groupname
                }
                arrbtn = document.getElementsByClassName('addbutton')
                for (let i = 0; i < arrbtn.length; i++) {
                    arrbtn[i].addEventListener("click", function () {
                       gname= document.getElementsByClassName('gname')[i].textContent
                        addbutton(gname, i);
                    }, false);
}

                </script>
</html>
