<!DOCTYPE html>
<html>
    <body>
           
                
                
     <div class="big_div">
        <!--latest orders-->
        <form class="ls">
                <fieldset>
                <legend>Latest Orders:</legend>
                <% @order.each do |order| %>
                <a href="#"><%= order.order_for %></a>
                on
                <a href="#"><%= order.create %></a>
                <br></br>
                <%end%>
                </fieldset>

        </form>

    
        <form class="factivity">
                <fieldset>
                <legend> Friends Activity:</legend>
                <% @orderfriend.each do |order|%>
                <b ><%= User.find_by_id(order.user_id).name %></b>  has created for <a href="#"><%= order.order_for %></a> from<a href="#"><%= order.rest_name %></a>
                <br></br>

                <%end%>
                </fieldset>
        </form>
       
    </div>

    </body>
</html>
