<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>Orders</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Resturant</th>
    <th>Invited</th>
    <th>Joined</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.order_for %></td>
      <td><%= order.rest_name %></td>
      <td><%= order.invited %></td>
      <td><%= order.joined %></td>
      <td><%= order.status %></td>
      <td>
      <%= link_to "view" , order_items_path(order.id) %>
      <% if order.status == "waiting" %>

  
      <%= link_to "cancel" ,order_path(order.id),method: "delete" %>
      <%= link_to "finish"  ,order_path(order.id),method: "put" %>

     <% end %>
     </td>

     



    </tr>
  <% end %>
</table>

</body>