

<body>

<table style="width:50%">
    <tr>
      <th>Person</th>
      <th>Item</th>
      <th>Amout</th>
      <th>Price</th>
      <th>Comment</th>

    </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.user.name %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_amount %></td>
        <td><%= item.price %></td>
        <td><%= item.comment %></td>
     
      </tr>
    <% end %>
  </table> <br/>
 
  <%= form_with model:  @item do |form| %>
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
       <label for="Item"><b>Item</b></label>
       
        <input type="text" name="name" >
      
        <label for="Item"><b>Amount</b></label>
      
        <div class="value-button" id="decrease" onclick=" decreaseAmount()" value="Decrease Value">-</div>
        <input type="number" id="number" value="1"name="amount" />
        <div class="value-button" id="increase" onclick=" increaseAmount()" value="Increase Value">+</div>
        <br>
         
        <label for="Item"><b>Price</b></label>
      
        <div class="value-button" id="decrease" onclick="decreasePrice()" value="Decrease Value">-</div>
        <input type="number" id="price" value="1" name="price"/>
        <div class="value-button" id="increase" onclick="increasePrice()" value="Increase Value">+</div>
        <br>
        <label for="Item"><b>Comment</b></label>
        <input type="text"  name="comment">
        <input type="submit" value="add">
        
        <% end %>
</div> 

<button name="invited" class="invited" onclick= "view_div1()"> <%= @nuJoined %> user joined click to show</button>
<div id="myDIV">
<% @joined.each do |joinededUser| %>
  <p><%=joinededUser.user.email  %></p>
  <%= link_to "Remove" %>
<% end %>
</div>


<button name="joined" class="joined" onclick= "view_div2()"><%= @nuInvited %> user invited click to show</button>
<div id="myDIV2">
<% @invited.each do |inviedUser| %>
  <p><%=inviedUser.user.email  %></p>
  
  <%= link_to "Remove" ,delete_invited_url(@order_id,inviedUser.user.id),method: "delete" %>
<% end %>
 

</div>

</body>
<script>
function view_div1() {
  var x = document.getElementById("myDIV");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "none";
}
} 

function view_div2() {
  var x = document.getElementById("myDIV2");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "none";
}
} 
function increaseAmount() {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 1 : value;
    value++;
    document.getElementById('number').value = value;
  }
  
  function decreaseAmount() {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 1 : value;
    value < 1 ? value = 1 : '';
    value--;
    document.getElementById('number').value = value;
  }
  function decreasePrice()
 {
    var value = parseInt(document.getElementById('price').value, 10);
    value = isNaN(value) ? 1 : value;
    value < 1 ? value = 1 : '';
    value--;
    document.getElementById('price').value = value;
  }
  
  function   increasePrice()
  {
    var value = parseInt(document.getElementById('price').value, 10);
    value = isNaN(value) ? 1 : value;
    value < 1 ? value = 1 : '';
    value++;
    document.getElementById('price').value = value;
  }
  var list =document.getElementsByClassName('popup')
  for(var i = 0; i < list.length; i++) {
    list[i].addEventListener("click", function() {
     
    })
  }
 




 
</script>
