<!DOCTYPE html>
<head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
 

       </head>

<body>

<table style="width:50%">
    <tr>
      <th>Person</th>
      <th>Item</th>
      <th>Amout</th>
      <th>Price</th>
      <th>Comment</th>

    </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.user.name %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_amount %></td>
        <td><%= item.price %></td>
        <td><%= item.comment %></td>
     
      </tr>
    <% end %>
  </table> <br/>
  <%= form_with model:  @item do |form| %>
       <label for="Item"><b>Item</b></label>
        <input type="text" name="name" >
      
        <label for="Item"><b>Amount</b></label>
      
        <div class="value-button" id="decrease" onclick=" decreaseAmount()" value="Decrease Value">-</div>
        <input type="number" id="number" value="0"name="amount" />
        <div class="value-button" id="increase" onclick=" increaseAmount()" value="Increase Value">+</div>
        <br>
         
        <label for="Item"><b>Price</b></label>
      
        <div class="value-button" id="decrease" onclick="decreasePrice()" value="Decrease Value">-</div>
        <input type="number" id="price" value="0" name="price"/>
        <div class="value-button" id="increase" onclick="increasePrice()" value="Increase Value">+</div>
        <br>
        <label for="Item"><b>Comment</b></label>
        <input type="text"  name="comment">
        <input type="submit" value="add">

        <% end %>
</div> 

<button name="invited" class="invited" onclick= "view_div1()"> view joined </button>
<div id="myDIV">
   <div class="sm"></div>
</div>


<button name="joined" class="joined" onclick= "view_div2()" > view invited </button>
<div id="myDIV2">
  <div class="sm"></div>
</div>


<script>

function view_div1() {
  var x = document.getElementById("myDIV");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "none";
}
} 

function view_div2() {
  var x = document.getElementById("myDIV2");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "none";
}
} 
</script> 

</body>