<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
            <div class="topnav">
                    <a class="active" href="/">Home</a>
                    <a href="/friends">Friends</a>
                    <a href="/groups">Groups</a>
                    <a href="/orders">Orders</a>

                 
                   
                
                  
                  </div>  

                  <div class="bell-div">


                            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= image_tag user_avatar(current_user, 40), class: "rounded-circle" %>
   <a> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></a>
           
                    <a name="loginname" title="Contact" value="Contact" style=" "><%=current_user.name%></a>

            </div>  
<% else %>
  <li>
  <%= link_to('', new_user_session_path)  %>  
  </li>
  <% end %>
    <%= yield %>
 
   
  </body>
</html>
